<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wsq.adaptertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".adapter1"
            android:label="@string/activity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".adapter2"
            android:label="@string/activity2">
            </activity>
    </application>

</manifest>